<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>People</title>
</head>
<body>
  <div th:insert="fragments::header"></div>
    <a class="btn btn-outline-secondary" th:href="@{/add-user}"  style="position: absolute; right: 20px; top: 20px; " role="button">Add user</a>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Key skills</th>
        <th scope="col">Participation in projects</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="users : ${users}">
        <td><span th:text="${users.name}"></span></td>
        <td><span th:text="${users.email}"></span></td>
        <td><span th:text="${users.keySkills}"></span></td>
        <td><span th:text="${users.projects}"></span></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
